.password-generator {
    background-color: #5a5a8e;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 50px auto;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

.password-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.password-display input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.password-display button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    box-shadow: 0 6px #575454;
}
.password-display button:hover {
    background-color: #3e8e41;
}
.password-display button:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #575454;
    transform: translateY(2px);
}

.options {
    text-align: left;
    margin-bottom: 20px;
}

.options label {
    display: block;
    margin-bottom: 10px;
}

.generate-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 6px #575454;
}
.generate-button:hover {
    background-color: #3e8e41;
}
.generate-button:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #575454;
    transform: translateY(2px);
}
